* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    background-color: #D1F1FA;
    /* display: grid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.15);
    padding: 20px;
    max-width: 510px;
    width: 100%;
}

img {
    margin-top: 40px;
    width: 248px;
    height: auto;
}

h3 {
    color: #08253F;
    font-family: Nunito Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 30px;
}

form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    text-align: right;
    width: 85%;
    margin-top: 20px;
    position: relative;
}

input {
    border-radius: 9px;
    border: 1px solid #DEDEDE;
    background: #F6F6F6;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.02) inset;
    height: 40px;
    /* Adjusted height for smaller screens */
    padding: 0 12px;
}

input[type="password"] {
    padding-right: 35px;
}



i {
    position: absolute;
    opacity: 0.2;
    top: 65px;
    right: 10px;

}

input::placeholder {
    color: black;
    /*Change the placeholder color*/
    opacity: 0.2;
    /*Change the opacity between 0 and 1*/
}


h4 {
    color: #0D3A63;
    font-family: Nunito Sans;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 4px;
}

.btn {
    width: 60%;
    padding: 10px 0;
    color: white;
    border-radius: 6px;
    margin-top: 20px;
    background-color: #0D3A63;
    font-weight: bolder;
    place-self: center;
}

footer {
    position: absolute;
    bottom: 10px;
}

footer h5 {
    color: #08253F;
    font-family: Nunito Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Media Queries for Responsive Design */


@media screen and (max-width: 480px) {





    h3 {
        font-size: 18px;
        margin-top: 15px;
    }


    input {
        padding: 0 8px;
        font-size: 14px;
        height: 36px;
        /* Adjusted height for smaller screens */
    }

    i {
        font-size: 12px;
        top: 60px;
        right: 10px;
    }

    h4 {
        font-size: 12px;
    }

    .btn {
        font-size: 12px;
        margin-top: 2px;
    }
}